html{
    scroll-behavior: smooth;
}

body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr{
    border: dotted #EAF6F6 10px;
    border-top: none;
    margin: 100px auto 100px auto;
    width: 7%;
}

h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    margin: 50px auto 0px auto;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 1.5rem;
    font-size: 17px;
}

a{
    color:#11999E;
}

.top-container{
    background-color: #e4f9f5;
    padding-top: 150px;
    position: relative;
}

.about-me{
    margin: 100px auto 100px auto;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 5px;
}

.footer-link{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.footer-link:hover{
    color: #EAF6F6;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.my-image{
    border-radius: 100%;
    margin: 50px auto 20px auto;
    width: 25%;
}

.my-description{
    margin: auto;
    width: 30%;
}

.skills{
    margin: 100px auto 100px auto;
}

.skill-row{
    line-height: 2;
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.code-img{
    float: left;
    width: 25%;
    margin-right: 30px;
}

.code-img2{
    float: right;
    width: 25%;
    margin-left: 30px;
}

.contact-me{
    margin: 100px auto 100px auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px auto;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
}

.top-cloud{
    position: absolute;
    right: 350px;
    top: 150px;
}

.about-me-img{
    width: 50%;
    height: 400px;
    margin-top: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 25px;
  color: #15536a;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 25px;
  color: #15536a;
}
