
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr{
    border: dotted #EAF6F6 10px;
    border-top: none;
    margin: 100px auto 100px auto;
    width: 7%;
}

h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    margin: 50px auto 0px auto;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}

a{
    color:#11999E;
}

.top-container{
    background-color: #e4f9f5;
    padding-top: 100px;
    position: relative;
}

.middle-container{
    margin: 100px auto 100px auto;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.footer-link{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.footer-link:hover{
    color: #EAF6F6;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.my-image{
    border-radius: 100%;
    margin: 50px auto 20px auto;
    width: 25%;
}

.my-description{
    margin: auto;
    width: 30%;
}

.skills{
    margin: 100px auto 100px auto;
}

.skill-row{
    line-height: 2;
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.code-img{
    float: left;
    width: 25%;
    margin-right: 30px;
}

.code-img2{
    float: right;
    width: 25%;
    margin-left: 30px;
}

.contact-me{
    margin: 100px auto 100px auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px auto;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
}

.top-cloud{
    position: absolute;
    right: 350px;
    top: 50px;
}

.btn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05,  #66BFBF), color-stop(1, #11999E));
	background:-moz-linear-gradient(top,  #66BFBF 5%, #11999E 100%);
	background:-webkit-linear-gradient(top,  #66BFBF 5%, #11999E 100%);
	background:-o-linear-gradient(top,  #66BFBF 5%, #11999E 100%);
	background:-ms-linear-gradient(top,  #66BFBF 5%, #11999E 100%);
	background:linear-gradient(to bottom,  #66BFBF 5%, #11999E 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=' #66BFBF', endColorstr='#11999E',GradientType=0);
	background-color: #66BFBF;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #11999E), color-stop(1,  #66BFBF));
	background:-moz-linear-gradient(top, #11999E 5%,  #66BFBF 100%);
	background:-webkit-linear-gradient(top, #11999E 5%,  #66BFBF 100%);
	background:-o-linear-gradient(top, #11999E 5%,  #66BFBF 100%);
	background:-ms-linear-gradient(top, #11999E 5%,  #66BFBF 100%);
	background:linear-gradient(to bottom, #11999E 5%,  #66BFBF 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999E', endColorstr=' #66BFBF',GradientType=0);
	background-color:#11999E;
}